body {
  background-image: url(../photo/index.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  background-repeat: no-repeat;
}

.title > h1 {
  font-family: "Dancing Script", cursive;
  font-size: 108px;
  color: #eee;
  text-shadow: 1px 1px 5px black;
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 100px;
}

.menu {
  position: absolute;
  top: 4%;
  left: 84%;
  display: flex;
  justify-content: space-between;
  width: 180px;
  font-size: 24px;
}

.singOut {
  position: absolute;
  top: 4%;
  left: 90%;
  display: flex;
  justify-content: space-between;
  width: 180px;
  font-size: 24px;
}
.singOut:hover > a {
  text-emphasis-position: under;
  text-emphasis: "<";
  color: black;
}

.login:hover > a,
.register:hover > a {
  text-emphasis-position: under;
  text-emphasis: ">";
  color: black;
}

.login > a,
.register > a,
.singOut > a {
  color: black;
  text-shadow: 1px 1px 4px #eee;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

/* .login:hover , .register:hover{
    transform: scale(1.1, 1.1);
    transition: 0s, 1s;
} */